{% extends "base.html" %} <!--use base.html as main layout, insertting my content into it-->

{% block content %}
<h1>Login</h1> <!--h1 = large heading...page title that displays "Login" on webpage-->

<form method="POST"> <!--when user submits this form, send the data as a POST req-->
    <label>Identifier:</label><br>
    <input type="text" name="identifier" required> <!--`required` prevents form submisstion if this field empty-->
    <p style="margin-top:4px;">
        For customers and agents, enter email.<br>
        For staff, enter username.
    </p>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <label>User Type:</label><br>
    <select name="user_type" required> <!--creates a drop-down menu for identity selection-->
        <option value="customer">Customer</option>
        <option value="agent">Booking Agent</option>
        <option value="staff">Airline Staff</option>
    </select><br><br>

    <button type="submit">Login</button>
</form>

<p>
    <a href="{{ url_for('register_customer') }}">Register as Customer</a>
</p>
<p>
    <a href="{{ url_for('register_agent') }}">Register as Booking Agent</a>
</p>
{% endblock %}